@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  position: relative; }

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none; }

input,
button,
textarea {
  font-family: inherit; }

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: none; }

ul li {
  list-style: none; }

/*-----*/
a.disabled {
  opacity: 0.2 !important;
  cursor: none !important; }

button:disabled {
  opacity: 0.2;
  cursor: none; }

.preloader-none {
  display: none; }

.preloader-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.lock {
  overflow: hidden; }

.preloader {
  top: 0;
  left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 200;
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  color: #e2c68e !important;
  /* Взято с ресурса https://techrocks.ru/2022/01/18/loader-in-pure-css/
*/ }
  .preloader__title {
    font-size: 15vw;
    font-weight: 900;
    line-height: 110%;
    font-style: normal; }
  .preloader__subtitle {
    font-size: 8vw;
    font-weight: 600;
    line-height: 110%;
    font-style: normal;
    margin-bottom: 5vh;
    text-transform: lowercase; }
  .preloader__text {
    font-size: 3vw;
    font-weight: 400;
    line-height: 110%;
    font-style: normal;
    margin-bottom: 10px; }
  .preloader__loader {
    --b: 10px;
    /* толщина черточек */
    --n: 6;
    /* количество черточек*/
    --g: 30deg;
    /* промежутки между черточками(т.к. круговой в градусах)*/
    --c: rgb(226, 198, 142);
    /* цвет */
    width: 30px;
    /* размер */
    /**/
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    /*избавиться от плохих очертаний */
    background: conic-gradient(#0000, var(--c)) content-box;
    /**/
    /*мы используем +/-1 градус между цветами, чтобы избежать зубчатых краев*/
    --_m: repeating-conic-gradient( #0000 0deg, #000 1deg calc(360deg / var(--n) - var(--g) - 1deg), #0000 calc(360deg / var(--n) - var(--g)) calc(360deg / var(--n))), radial-gradient( farthest-side, #0000 calc(98% - var(--b)), #000 calc(100% - var(--b)));
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    -webkit-animation: load 1s infinite steps(var(--n));
    animation: load 1s infinite steps(var(--n)); }

@-webkit-keyframes load {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

@keyframes load {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; }

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/ocean.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  font-family: "Open Sans", sans-serif;
  padding: 10px; }
  body:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4; }

.hidden {
  overflow: hidden; }

.popup-active {
  top: 0 !important;
  z-index: 150 !important;
  opacity: 1 !important;
  -webkit-transition: opacity 0.7s ease 0s;
  -o-transition: opacity 0.7s ease 0s;
  transition: opacity 0.7s ease 0s;
  -webkit-transition: top 0.7s ease 0s;
  -o-transition: top 0.7s ease 0s;
  transition: top 0.7s ease 0s; }

.map {
  position: relative;
  z-index: 10;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 2vw; }

.btn-group {
  position: relative;
  width: 97%;
  margin: 0px 0px 10px;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "back map num rules" "back rand-map rand-num rules";
  -ms-grid-columns: (-webkit-max-content)[4];
  -ms-grid-columns: (max-content)[4];
  grid-template-columns: repeat(4, -webkit-max-content);
  grid-template-columns: repeat(4, max-content);
  -ms-grid-rows: max-content 8px max-content;
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 8px; }

.btn {
  position: relative;
  top: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 15vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.7vw;
  font-weight: 800;
  text-align: center;
  padding: 4px 3vw;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 0px #acacac, 0 0 15px 2px black;
  box-shadow: 0 5px 0px #acacac, 0 0 15px 2px black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .btn:active {
    top: 3px;
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    -webkit-box-shadow: 0 0px 0px #acacac;
    box-shadow: 0 0px 0px #acacac;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

.btn:active {
  background-color: #ffffff; }

#generateMapGex {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: map; }

#generateNumberGex {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: num; }

#fullRandomMapGex {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: rand-map; }

#fullRandomNumGex {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: rand-num; }

.btn-back {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: back; }

.btn-rules {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  grid-area: rules; }

.btn-back,
.btn-rules {
  background: -webkit-linear-gradient(0deg, #e3e3e3 16%, #b3b6b6 50%, #e5e5e5);
  background: -moz-linear-gradient(0deg, #e3e3e3 16%, #b3b6b6 50%, #e5e5e5);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(16%, #e3e3e3), color-stop(50%, #b3b6b6), to(#e5e5e5));
  background: -webkit-linear-gradient(bottom, #e3e3e3 16%, #b3b6b6 50%, #e5e5e5);
  background: -o-linear-gradient(bottom, #e3e3e3 16%, #b3b6b6 50%, #e5e5e5);
  background: linear-gradient(0deg, #e3e3e3 16%, #b3b6b6 50%, #e5e5e5); }

.btn-gen,
.btn-full-gen {
  text-shadow: 0 -0.5px 0.5px rgba(0, 0, 0, 0.831), 0 -0.5px 0.5px rgba(0, 0, 0, 0.831), 0 0.5px 0.5px rgba(0, 0, 0, 0.831), 0 0.5px 0.5px rgba(0, 0, 0, 0.831), -0.5px 0 0.5px rgba(0, 0, 0, 0.831), 0.5px 0 0.5px rgba(0, 0, 0, 0.831), -0.5px 0 0.5px rgba(0, 0, 0, 0.831), 0.5px 0 0.5px rgba(0, 0, 0, 0.831), -0.5px -0.5px 0.5px rgba(0, 0, 0, 0.831), 0.5px -0.5px 0.5px rgba(0, 0, 0, 0.831), -0.5px 0.5px 0.5px rgba(0, 0, 0, 0.831), 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.831), -0.5px -0.5px 0.5px rgba(0, 0, 0, 0.831), 0.5px -0.5px 0.5px rgba(0, 0, 0, 0.831), -0.5px 0.5px 0.5px rgba(0, 0, 0, 0.831), 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.831);
  color: white;
  margin-bottom: 7px;
  padding: 4px 5vw; }

.btn-gen {
  background: -webkit-linear-gradient(0deg, #0f4690 16%, #001c49 50%, #7ab1dd);
  background: -moz-linear-gradient(0deg, #0f4690 16%, #001c49 50%, #7ab1dd);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(16%, #0f4690), color-stop(50%, #001c49), to(#7ab1dd));
  background: -webkit-linear-gradient(bottom, #0f4690 16%, #001c49 50%, #7ab1dd);
  background: -o-linear-gradient(bottom, #0f4690 16%, #001c49 50%, #7ab1dd);
  background: linear-gradient(0deg, #0f4690 16%, #001c49 50%, #7ab1dd); }

.btn-full-gen {
  background: -webkit-linear-gradient(0deg, #033e5e 16%, #1a7fc1 50%, #015185);
  background: -moz-linear-gradient(0deg, #033e5e 16%, #1a7fc1 50%, #015185);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(16%, #033e5e), color-stop(50%, #1a7fc1), to(#015185));
  background: -webkit-linear-gradient(bottom, #033e5e 16%, #1a7fc1 50%, #015185);
  background: -o-linear-gradient(bottom, #033e5e 16%, #1a7fc1 50%, #015185);
  background: linear-gradient(0deg, #033e5e 16%, #1a7fc1 50%, #015185); }

.romaining-number-tokens {
  width: 100%;
  height: 9vw;
  font-size: 3vw;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 4px;
  border: 1px solid #000000;
  background-color: rgba(172, 172, 172, 0.493);
  color: #000000;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.534) inset, 0 0 20px 10px rgba(0, 0, 0, 0.411);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.534) inset, 0 0 20px 10px rgba(0, 0, 0, 0.411);
  word-break: break-all; }

.noNumber .map__gex-text {
  background-color: #f87070;
  font-size: 3.5vw;
  font-weight: 900 !important; }

.popular-number .map__gex-text {
  color: red;
  background-color: #cccccc;
  font-weight: 900 !important;
  font-size: 3vw; }

.block1 {
  background-image: url("../img/1.png"); }

.block2 {
  background-image: url("../img/2.png"); }

.block3 {
  background-image: url("../img/3.png"); }

.block4 {
  background-image: url("../img/4.png"); }

.block5 {
  background-image: url("../img/5.png"); }

.block7 {
  background-image: url("../img/7.png"); }

.map__gex-desert {
  background-image: url("../img/6.png"); }

.map__gex-x {
  background-image: url("../img/9.png"); }

.rules {
  z-index: -150;
  position: absolute;
  top: -200%;
  left: 0;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 100%;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.7s ease 0s;
  -o-transition: opacity 0.7s ease 0s;
  transition: opacity 0.7s ease 0s;
  -webkit-transition: top 0.7s ease 0s;
  -o-transition: top 0.7s ease 0s;
  transition: top 0.7s ease 0s;
  overflow-y: scroll; }
  .rules__container {
    position: relative;
    width: 90%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: 80vh;
    padding: 80px 20px;
    background-color: #cccccc; }
  .rules__btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 15px;
    font-size: 2vw;
    font-weight: 800;
    border: 2px solid black; }
  .rules__title {
    width: 100%;
    text-align: center;
    font-size: 2.8vw;
    font-weight: 800;
    margin-bottom: 30px; }
  .rules__img-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    height: auto;
    margin: 0px auto 30px; }
  .rules__subtitle {
    width: 50%;
    font-size: 2.6vw;
    font-weight: 700;
    padding: 5px 100px 5px 50px;
    margin-bottom: 10px;
    background-color: #39486c;
    color: #ffffff; }
  .rules__text {
    font-size: 2.4vw;
    font-weight: 500;
    margin-bottom: 10px; }

.map__gex img {
  width: var(--widthGex);
  height: var(--heightGex); }

#gex0 {
  width: 0px;
  height: 0px;
  position: absolute;
  z-index: -1500;
  opacity: 0; }

@media (max-width: 650px) {
  .btn {
    -webkit-box-shadow: 0 3px 0px #3f3f3f, 0 0 5px 2px rgba(0, 0, 0, 0.572) inset;
    box-shadow: 0 3px 0px #3f3f3f, 0 0 5px 2px rgba(0, 0, 0, 0.572) inset; }
    .btn:active {
      top: 5px;
      -webkit-transform: rotateX(40deg);
      transform: rotateX(40deg);
      -webkit-box-shadow: 0 0px 0px #acacac;
      box-shadow: 0 0px 0px #acacac; }
  .rules__container {
    padding: 60px 20px; }
  .rules__btn-close {
    top: 20px;
    padding: 5px 15px;
    font-size: 3.6vw; }
  .rules__title {
    font-size: 4.8vw;
    font-weight: 800;
    margin-bottom: 15px; }
  .rules__img-map {
    width: 100%;
    margin: 0px auto 15px; }
  .rules__subtitle {
    width: 100%;
    font-size: 4vw;
    padding: 5px 120px 5px 30px;
    margin-bottom: 10px; }
  .rules__text {
    font-size: 3.8vw;
    margin-bottom: 20px; } }

@media screen and (orientation: landscape) {
  body {
    padding: 0;
    background-image: url("../img/ocean2.jpg");
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .btn-group {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    margin: 10px 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 3vh; }
  .btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-width: 24vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 5px;
    font-size: 1.7vw; }
  .full-random-map-gex {
    width: 24vw;
    height: 14vh;
    font-size: 1.8vw;
    padding: 3px;
    margin-top: 3vh; }
  .romaining-number-tokens {
    position: absolute;
    width: 70%;
    left: 15%;
    bottom: 1%;
    height: 8vh;
    font-size: 2.4vw;
    padding: 5px;
    margin-top: 3vh; }
  a.btn {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    font-size: 2vw !important;
    margin-bottom: 5vh; }
  .noNumber .map__gex-text {
    font-size: 2.3vw; }
  .popular-number .map__gex-text {
    font-size: 1.8vw; } }
