@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  position: relative; }

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none; }

input,
button,
textarea {
  font-family: inherit; }

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: none; }

ul li {
  list-style: none; }

/*-----*/
a.disabled {
  opacity: 0.2 !important;
  cursor: none !important; }

button:disabled {
  opacity: 0.2;
  cursor: none; }

.preloader-none {
  display: none; }

.preloader-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.lock {
  overflow: hidden; }

.preloader {
  top: 0;
  left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 200;
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  color: #e2c68e !important;
  /* Взято с ресурса https://techrocks.ru/2022/01/18/loader-in-pure-css/
*/ }
  .preloader__title {
    font-size: 15vw;
    font-weight: 900;
    line-height: 110%;
    font-style: normal; }
  .preloader__subtitle {
    font-size: 8vw;
    font-weight: 600;
    line-height: 110%;
    font-style: normal;
    margin-bottom: 5vh;
    text-transform: lowercase; }
  .preloader__text {
    font-size: 3vw;
    font-weight: 400;
    line-height: 110%;
    font-style: normal;
    margin-bottom: 10px; }
  .preloader__loader {
    --b: 10px;
    /* толщина черточек */
    --n: 6;
    /* количество черточек*/
    --g: 30deg;
    /* промежутки между черточками(т.к. круговой в градусах)*/
    --c: rgb(226, 198, 142);
    /* цвет */
    width: 30px;
    /* размер */
    /**/
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    /*избавиться от плохих очертаний */
    background: conic-gradient(#0000, var(--c)) content-box;
    /**/
    /*мы используем +/-1 градус между цветами, чтобы избежать зубчатых краев*/
    --_m: repeating-conic-gradient( #0000 0deg, #000 1deg calc(360deg / var(--n) - var(--g) - 1deg), #0000 calc(360deg / var(--n) - var(--g)) calc(360deg / var(--n))), radial-gradient( farthest-side, #0000 calc(98% - var(--b)), #000 calc(100% - var(--b)));
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    -webkit-animation: load 1s infinite steps(var(--n));
    animation: load 1s infinite steps(var(--n)); }

@-webkit-keyframes load {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

@keyframes load {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; }

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/ocean.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  font-family: "Open Sans", sans-serif;
  padding: 10px; }
  body:after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4; }

.map {
  position: relative;
  z-index: 10;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 2vw; }

.btn-group {
  width: 95%;
  margin: 10px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 8px; }

.btn {
  width: 42vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.8vw;
  font-weight: 800;
  text-align: center;
  padding: 10px 3px;
  border: 2px solid #be9143;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer; }

.full-random-map-gex {
  width: 100%;
  height: 5vw;
  font-size: 2.8vw;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 4px;
  border: 2px solid #be9143;
  background-color: #cdec84;
  color: #000000; }

.romaining-number-tokens {
  width: 100%;
  height: 9vw;
  font-size: 3.4vw;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 4px;
  border: 2px solid #be9143;
  background-color: #ffffff;
  color: #000000; }

a.btn {
  width: 100% !important;
  background-color: #cccccc !important;
  margin-bottom: 10px; }

.noNumber .map__gex-text {
  background-color: #f87070;
  font-size: 3.5vw;
  font-weight: 900 !important; }

.popular-number .map__gex-text {
  color: red;
  background-color: #cccccc;
  font-weight: 900 !important;
  font-size: 3vw; }

.block1 {
  background-image: url("../img/1.png"); }

.block2 {
  background-image: url("../img/2.png"); }

.block3 {
  background-image: url("../img/3.png"); }

.block4 {
  background-image: url("../img/4.png"); }

.block5 {
  background-image: url("../img/5.png"); }

.block7 {
  background-image: url("../img/7.png"); }

/*
@media (max-width:900px) {
    .btn {
        width: 40vw;
        font-size: 2.8vw;
        font-weight: 800;
    }
    .full-random-map-gex {
        width: 100%;
        height: 5vw;
        font-size: 2.7vw;
        font-weight: 700;
        padding: 4px;
    }
    .romaining-number-tokens {
        width: 100%;
        height: 5vw;
        font-size: 2.5vw;
        font-weight: 900;
        padding: 4px;
    }
}
*/
@media screen and (orientation: landscape) {
  body {
    background-image: url("../img/ocean2.jpg");
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .btn-group {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    margin: 10px 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 3vh; }
  .btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-width: 24vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 5px;
    font-size: 1.7vw; }
  .full-random-map-gex {
    width: 24vw;
    height: 14vh;
    font-size: 1.8vw;
    padding: 3px;
    margin-top: 3vh; }
  .romaining-number-tokens {
    width: 24vw;
    height: 14vh;
    font-size: 2.8vw;
    padding: 5px;
    margin-top: 3vh; }
  a.btn {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    font-size: 2vw !important;
    margin-bottom: 5vh; }
  .noNumber .map__gex-text {
    font-size: 2.3vw; }
  .popular-number .map__gex-text {
    font-size: 1.8vw; } }

.map__gex img {
  width: var(--widthGex);
  height: var(--heightGex); }

#gex0 {
  width: 0px;
  height: 0px;
  position: absolute;
  z-index: -1500;
  opacity: 0; }
