@import '../param-nul-base-preload/null-style';
@import '../param-nul-base-preload/base';
@import '../param-nul-base-preload/preloader';
//--------------------------------------
:root {
    --widthGex: 13vw;
    --heightGex: calc(var(--widthGex) * 1.066666666666667);
    --cirkleNum: calc(var(--widthGex) / 2.5);
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('../img/ocean.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    font-family: $fontFamilyBase;
    padding: 2%;
    &:after {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $blackColor;
        opacity: 0.4;
    }
}

footer {
    display: flex;
    font-size: 2vw;
    color: $blackBullet;
    background-color: rgba(255, 255, 255, 0.39);
    color: $blackColor;
}

.btn-group {
    width: 95%;
    margin: 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 5px;
}

.btn {
    width: max-content;
    height: max-content;
    padding: 2vh 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2.6vw;
    font-weight: 800;
    text-align: center;
    padding: 8px;
    border: 2px solid $goldColor;
    background-color: $whiteColor;
    color: $blackColor;
    cursor: pointer;
}

.romaining-number-tokens {
    width: 100%;
    height: 10vw;
    font-size: 3.5vw;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 2px solid $goldColor;
    background-color: $whiteColor;
    color: $blackColor;
}

a.btn {
    width: 100% !important;
    background-color: $smokeColor !important;
}

.noNumber .map__gex-text {
    background-color: $errMessage;
    font-size: 3.5vw;
    font-weight: 900 !important;
}

.popular-number .map__gex-text {
    color: red;
    background-color: $smokeColor;
    font-weight: 900 !important;
    font-size: 3vw;
}

.map {
    position: relative;
    z-index: 10;
    width: max-content;
    height: max-content;
    padding: 2vw;
    /**/
    display: grid;
    grid-template-columns: repeat(12, calc(var(--widthGex) / 2));
    grid-template-rows: repeat(7, calc(var(--heightGex) / 2.66 * 2)) calc( var(--heightGex) / 3);
    gap: 1px;
    &__gex-text {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--cirkleNum);
        height: var(--cirkleNum);
        border-radius: 50%;
        background-color: $greyBullet;
        color: $blackColor;
        font-size: 2.6vw;
        font-weight: bold;
        border: 2px solid $btnBlueDarkColor;
    }
    &__gex,
    &__gex-see,
    &__gex-see-mini {
        position: relative;
        width: var(--widthGex);
        height: var(--heightGex);
        //width: max-content;
        // height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        &::before {
            position: absolute;
            content: '';
            z-index: -100 !important;
            top: -5%;
            left: -5%;
            width: 110%;
            height: 110%;
            opacity: 0.95;
            background-image: url('../img/2.svg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }
    }
    &__gex-see {
        background-image: url('../img/7.png');
        &::before {
            position: absolute;
            content: '';
            z-index: -100 !important;
            top: -5%;
            left: -5%;
            width: 110%;
            height: 110%;
            opacity: 0.95;
            background-image: url('../img/6.svg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }
    }
    &__gex-see-mini {
        background-size: 50% 100%;
        background-image: url('../img/8.png');
        &::before {
            background-image: unset
        }
    }
}

.block1 {
    background-image: url('../img/1.png');
}

.block2 {
    background-image: url('../img/2.png');
}

.block3 {
    background-image: url('../img/3.png');
}

.block4 {
    background-image: url('../img/4.png');
}

.block5 {
    background-image: url('../img/5.png');
}


/*--1 остров-малый-*/

.gex-1 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.gex-2 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.gex-3 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.gex-4 {
    grid-column-start: 3;
    grid-row-start: 3;
}


/*--2 остров-малый-*/

.gex-5 {
    grid-column-start: 9;
    grid-row-start: 5;
}

.gex-6 {
    grid-column-start: 11;
    grid-row-start: 5;
}

.gex-7 {
    grid-column-start: 10;
    grid-row-start: 6;
}

.gex-8 {
    grid-column-start: 9;
    grid-row-start: 7;
}


/*--3 остров-большой-право-верх-*/

.gex-9 {
    grid-column-start: 7;
    grid-row-start: 1;
}

.gex-10 {
    grid-column-start: 9;
    grid-row-start: 1;
}

.gex-11 {
    grid-column-start: 6;
    grid-row-start: 2;
}

.gex-12 {
    grid-column-start: 8;
    grid-row-start: 2;
}

.gex-13 {
    grid-column-start: 10;
    grid-row-start: 2;
}

.gex-14 {
    grid-column-start: 7;
    grid-row-start: 3;
}

.gex-15 {
    grid-column-start: 9;
    grid-row-start: 3;
}

.gex-16 {
    grid-column-start: 6;
    grid-row-start: 4;
}


/*--4 остров-большой-лево-низ-*/

.gex-17 {
    grid-column-start: 1;
    grid-row-start: 5;
}

.gex-18 {
    grid-column-start: 3;
    grid-row-start: 5;
}

.gex-19 {
    grid-column-start: 2;
    grid-row-start: 6;
}

.gex-20 {
    grid-column-start: 4;
    grid-row-start: 6;
}

.gex-21 {
    grid-column-start: 6;
    grid-row-start: 6;
}

.gex-22 {
    grid-column-start: 3;
    grid-row-start: 7;
}

.gex-23 {
    grid-column-start: 5;
    grid-row-start: 7;
}


/*------МОРЕ-------*/

.gex-see-1 {
    grid-column-start: 5;
    grid-row-start: 1;
}

.gex-see-2 {
    grid-column-start: 4;
    grid-row-start: 2;
}

.gex-see-3 {
    grid-column-start: 5;
    grid-row-start: 3;
}

.gex-see-4 {
    grid-column-start: 4;
    grid-row-start: 4;
}

.gex-see-5 {
    grid-column-start: 2;
    grid-row-start: 4;
}

.gex-see-6 {
    grid-column-start: 5;
    grid-row-start: 5;
}

.gex-see-7 {
    grid-column-start: 7;
    grid-row-start: 5;
}

.gex-see-8 {
    grid-column-start: 8;
    grid-row-start: 6;
}

.gex-see-9 {
    grid-column-start: 7;
    grid-row-start: 7;
}

.gex-see-10 {
    grid-column-start: 8;
    grid-row-start: 4;
}

.gex-see-11 {
    grid-column-start: 10;
    grid-row-start: 4;
}

.gex-see-12 {
    grid-column-start: 11;
    grid-row-start: 3;
}


/*-пол моря*/

.gex-see-80 {
    grid-column-start: 1;
    grid-row-start: 4;
    margin-left: -1px;
    background-position-x: left;
}

.gex-see-81 {
    background-position-x: left;
    grid-column-start: 11;
    grid-row-start: 4;
    margin-right: -1px;
    transform: scaleX(-1);
}


/*----------*/

@media screen and (orientation: landscape) {
     :root {
        --widthGex: 13vh;
        --heightGex: calc(var(--widthGex) * 1.066666666666667);
        --cirkleNum: calc(var(--widthGex) / 2.7);
    }
    body {
        background-image: url('../img/ocean2.jpg');
        flex-direction: row;
    }
    .btn-group {
        width: max-content;
        height: 100%;
        margin: 10px 0px 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 3vh;
    }
    .btn {
        width: max-content;
        height: max-content;
        padding: 5px;
        font-size: 1.8vw;
    }
    .romaining-number-tokens {
        width: 20vw;
        height: 10vw;
        font-size: 3.5vw;
        padding: 5px;
        margin-top: 3vh;
    }
    a.btn {
        width: max-content !important;
        font-size: 2vw !important;
        margin-bottom: 20vh;
    }
    .noNumber .map__gex-text {
        font-size: 2.3vw;
    }
    .popular-number .map__gex-text {
        font-size: 1.8vw;
    }
    .map {
        &__gex-text {
            font-size: 1.6vw;
        }
    }
    footer {
        position: absolute;
        bottom: 0;
        font-size: 1vw;
    }
}