@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  position: relative; }

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none; }

input,
button,
textarea {
  font-family: inherit; }

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: none; }

ul li {
  list-style: none; }

/*-----*/
a.disabled {
  opacity: 0.2 !important;
  cursor: none !important; }

button:disabled {
  opacity: 0.2;
  cursor: none; }

.preloader-none {
  display: none; }

.preloader-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.lock {
  overflow: hidden; }

.preloader {
  top: 0;
  left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 200;
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  color: #e2c68e !important;
  /* Взято с ресурса https://techrocks.ru/2022/01/18/loader-in-pure-css/
*/ }
  .preloader__title {
    font-size: 15vw;
    font-weight: 900;
    line-height: 110%;
    font-style: normal; }
  .preloader__subtitle {
    font-size: 8vw;
    font-weight: 600;
    line-height: 110%;
    font-style: normal;
    margin-bottom: 5vh;
    text-transform: lowercase; }
  .preloader__text {
    font-size: 3vw;
    font-weight: 400;
    line-height: 110%;
    font-style: normal;
    margin-bottom: 10px; }
  .preloader__loader {
    --b: 10px;
    /* толщина черточек */
    --n: 6;
    /* количество черточек*/
    --g: 30deg;
    /* промежутки между черточками(т.к. круговой в градусах)*/
    --c: rgb(226, 198, 142);
    /* цвет */
    width: 30px;
    /* размер */
    /**/
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    /*избавиться от плохих очертаний */
    background: conic-gradient(#0000, var(--c)) content-box;
    /**/
    /*мы используем +/-1 градус между цветами, чтобы избежать зубчатых краев*/
    --_m: repeating-conic-gradient( #0000 0deg, #000 1deg calc(360deg / var(--n) - var(--g) - 1deg), #0000 calc(360deg / var(--n) - var(--g)) calc(360deg / var(--n))), radial-gradient( farthest-side, #0000 calc(98% - var(--b)), #000 calc(100% - var(--b)));
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    -webkit-animation: load 1s infinite steps(var(--n));
    animation: load 1s infinite steps(var(--n)); }

@-webkit-keyframes load {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

@keyframes load {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

:root {
  --widthGex: 18vw;
  --heightGex: calc(var(--widthGex) * 1.066666666666667);
  --cirkleNum: calc(var(--widthGex) / 2.5); }

.map {
  position: relative;
  z-index: 10;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 2vw;
  /**/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(var(--widthGex) / 2))[8];
  grid-template-columns: repeat(8, calc(var(--widthGex) / 2));
  -ms-grid-rows: (calc(var(--heightGex) / 2.66 * 2))[5] calc( var(--heightGex) / 3);
  grid-template-rows: repeat(5, calc(var(--heightGex) / 2.66 * 2)) calc( var(--heightGex) / 3);
  gap: 1px; }
  .map__gex-text {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: var(--cirkleNum);
    height: var(--cirkleNum);
    border-radius: 50%;
    background-color: #ebebeb;
    color: #000000;
    font-size: 2.6vw;
    font-weight: bold;
    border: 2px solid #08215d; }
  .map__gex {
    position: relative;
    width: var(--widthGex);
    height: var(--heightGex);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; }
    .map__gex img {
      width: var(--widthGex);
      height: var(--heightGex); }
    .map__gex::before {
      position: absolute;
      content: '';
      z-index: -100 !important;
      top: -10%;
      left: -10%;
      width: 120%;
      height: 120%;
      opacity: 0.95;
      background-image: url("../../img/2.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center; }

/*--1 линия--*/
.gex-1 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 1;
  grid-row-start: 1; }

.gex-2 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row: 1;
  grid-row-start: 1; }

/*--2 линия--*/
.gex-3 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 2;
  grid-row-start: 2; }

.gex-4 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row: 2;
  grid-row-start: 2; }

.gex-5 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row: 2;
  grid-row-start: 2; }

/*--3 линия--*/
.gex-6 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 3;
  grid-row-start: 3; }

.gex-7 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 3;
  grid-row-start: 3; }

.gex-8 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row: 3;
  grid-row-start: 3; }

.gex-9 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-row: 3;
  grid-row-start: 3; }

/*--4 линия--*/
.gex-10 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 4;
  grid-row-start: 4; }

.gex-11 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row: 4;
  grid-row-start: 4; }

.gex-12 {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-row: 4;
  grid-row-start: 4; }

/*--5 линия--*/
.gex-13 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 5;
  grid-row-start: 5; }

.gex-14 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-row: 5;
  grid-row-start: 5; }

@media screen and (orientation: landscape) {
  :root {
    --widthGex: 18vh;
    --heightGex: calc(var(--widthGex) * 1.066666666666667);
    --cirkleNum: calc(var(--widthGex) / 2.7); }
  .map__gex-text {
    font-size: 1.6vw; } }
