@import 'param-nul-base-preload/null-style';
@import 'param-nul-base-preload/base';
@import 'param-nul-base-preload/preloader';
//--------------------------------------
html,
body {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('../img/ocean.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    font-family: $fontFamilyBase;
    padding: 30px 10px;
    &:after {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $blackColor;
        opacity: 0.4;
    }
}

.map {
    position: relative;
    z-index: 10;
    width: max-content;
    height: max-content;
    padding: 2vw;
}

footer {
    width: 100%;
    display: flex;
    font-size: 2vw;
    color: $blackBullet;
    background-color: rgba(255, 255, 255, 0.39);
    color: $blackColor;
}

.btn-group {
    width: 95%;
    margin: 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
}

.btn {
    width: max-content;
    height: max-content;
    padding: 2vh 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2.6vw;
    font-weight: 800;
    text-align: center;
    padding: 8px;
    border: 2px solid $goldColor;
    background-color: $whiteColor;
    color: $blackColor;
    cursor: pointer;
}

.romaining-number-tokens {
    width: 100%;
    height: 7vw;
    font-size: 3.2vw;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: 2px solid $goldColor;
    background-color: $whiteColor;
    color: $blackColor;
}

a.btn {
    width: 100% !important;
    background-color: $smokeColor !important;
    margin-bottom: 15px;
}

.noNumber .map__gex-text {
    background-color: $errMessage;
    font-size: 3.5vw;
    font-weight: 900 !important;
}

.popular-number .map__gex-text {
    color: red;
    background-color: $smokeColor;
    font-weight: 900 !important;
    font-size: 3vw;
}

.block1 {
    background-image: url('../img/1.png');
}

.block2 {
    background-image: url('../img/2.png');
}

.block3 {
    background-image: url('../img/3.png');
}

.block4 {
    background-image: url('../img/4.png');
}

.block5 {
    background-image: url('../img/5.png');
}

@media screen and (orientation: landscape) {
    body {
        background-image: url('../img/ocean2.jpg');
        flex-direction: row;
    }
    .btn-group {
        width: max-content;
        height: 100%;
        margin: 10px 0px 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 3vh;
    }
    .btn {
        width: max-content;
        min-width: 24vw;
        height: max-content;
        padding: 5px;
        font-size: 1.7vw;
    }
    .romaining-number-tokens {
        width: 24vw;
        height: 10vw;
        font-size: 2.8vw;
        padding: 5px;
        margin-top: 3vh;
    }
    a.btn {
        width: max-content !important;
        font-size: 2vw !important;
        margin-bottom: 20vh;
    }
    .noNumber .map__gex-text {
        font-size: 2.3vw;
    }
    .popular-number .map__gex-text {
        font-size: 1.8vw;
    }
    footer {
        width: 24vw;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 1vw;
    }
}

#gex0 {
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: -1500;
    opacity: 0;
}