@import 'param-nul-base-preload/null-style';
@import 'param-nul-base-preload/base';
@import 'param-nul-base-preload/preloader';
//--------------------------------------
html {
    width: 100%;
    min-height: 100vh;
}

body {
    width: 100%;
    //min-height: 100vh;
    position: relative;
    font-family: $fontFamilyBase;
    /*background-image: url('../img/ocean2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
   
    &:after {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $blackColor;
        opacity: 0.5;
    }*/
}

.bg-img {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    img {
        width: 100%;
        height: 100%;
    }
}

.content {
    position: relative;
    z-index: 5;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.85);
}

b {
    font-weight: 900;
}

.version-group {}

.title {
    width: 100%;
    height: max-content;
    text-align: center;
    @include fontSize(2.5vw, 110%, 900);
    color: $whiteColor;
    @include textBorderBlack;
}

.subtitle {
    width: 100%;
    height: max-content;
    margin-bottom: 25px;
    text-align: center;
    @include fontSize(1.5vw, 120%, 700);
    color: $whiteColor;
    @include textBorderBlack;
}

.btn-group {
    position: relative;
    z-index: 5;
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.btn {
    width: max-content;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    padding: 5px;
    border: 4px solid $goldColor;
    color: $blackColor;
    background-color: $smokeColor;
}

.sea-group-map {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    position: relative;
    z-index: 5;
    width: 100%;
    display: flex;
    font-size: 1.5vw;
    text-align: center;
    color: $blackBullet;
    background-color: rgba(187, 187, 187, 0.291);
    color: $blackColor;
    a {
        color: black
    }
}

.sea-1-4people-btn {
    border-color: rgb(10, 208, 10) !important;
    background-color: rgb(182, 245, 182);
    cursor: default;
}

@media screen and (orientation: portrait) {
    body {
        background-image: url('../img/ocean.jpg');
    }
    .content {
        row-gap: 10px
    }
    .title {
        @include fontSize(4vw,
        110%,
        900);
        color: $whiteColor;
        @include textBorderBlack;
    }
    .subtitle {
        margin: 5px 0px 10px;
        @include fontSize(2.5vw,
        120%,
        700);
    }
    .btn {
        height: 6vw;
        font-size: 3vw;
        padding: 5px;
        border: 2px solid $goldColor;
    }
    footer {
        font-size: 2vw;
    }
}