@import "param-nul-base-preload/null-style";
@import "param-nul-base-preload/base";
@import "param-nul-base-preload/preloader";
//--------------------------------------
html,
body {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/ocean.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    font-family: $fontFamilyBase;
    padding: 10px;
    &:after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $blackColor;
        opacity: 0.4;
    }
}

.map {
    position: relative;
    z-index: 10;
    width: max-content;
    height: max-content;
    padding: 2vw;
}

.btn-group {
    width: 95%;
    margin: 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 8px;
}

.btn {
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2.8vw;
    font-weight: 800;
    text-align: center;
    padding: 8px 3px;
    border: 2px solid $goldColor;
    background-color: $whiteColor;
    color: $blackColor;
    cursor: pointer;
}

.btn-gen {
    width: 42vw;
    background-color: rgb(131, 214, 131);
}

.btn-full-gen {
    width: 42vw;
    background-color: rgb(255, 253, 133);
}

.full-width-btn {
    width: 100%;
}

.romaining-number-tokens {
    width: 100%;
    height: 9vw;
    font-size: 3.4vw;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 4px;
    border: 2px solid $goldColor;
    background-color: $smokeColor;
    color: $blackColor;
}

a.btn {
    width: 100% !important;
    background-color: rgb(157, 146, 255);
    margin-bottom: 15px;
    font-size: 3.5vw;
    text-transform: uppercase;
}

.noNumber .map__gex-text {
    background-color: $errMessage;
    font-size: 3.5vw;
    font-weight: 900 !important;
}

.popular-number .map__gex-text {
    color: red;
    background-color: $smokeColor;
    font-weight: 900 !important;
    font-size: 3vw;
}

.block1 {
    background-image: url("../img/1.png");
}

.block2 {
    background-image: url("../img/2.png");
}

.block3 {
    background-image: url("../img/3.png");
}

.block4 {
    background-image: url("../img/4.png");
}

.block5 {
    background-image: url("../img/5.png");
}

.block7 {
    background-image: url("../img/7.png");
}
.map__gex-desert {
    background-image: url("../img/6.png");
}
.map__gex-x {
    background-image: url("../img/9.png");
}

/*
@media (max-width:900px) {
    .btn {
        width: 40vw;
        font-size: 2.8vw;
        font-weight: 800;
    }
    .full-random-map-gex {
        width: 100%;
        height: 5vw;
        font-size: 2.7vw;
        font-weight: 700;
        padding: 4px;
    }
    .romaining-number-tokens {
        width: 100%;
        height: 5vw;
        font-size: 2.5vw;
        font-weight: 900;
        padding: 4px;
    }
}
*/

@media screen and (orientation: landscape) {
    body {
        background-image: url("../img/ocean2.jpg");
        flex-direction: row;
    }
    .btn-group {
        width: max-content;
        height: 100%;
        margin: 10px 0px 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 3vh;
    }
    .btn {
        width: max-content;
        min-width: 24vw;
        height: max-content;
        padding: 5px;
        font-size: 1.7vw;
    }
    .full-random-map-gex {
        width: 24vw;
        height: 14vh;
        font-size: 1.8vw;
        padding: 3px;
        margin-top: 3vh;
    }
    .romaining-number-tokens {
        width: 24vw;
        height: 14vh;
        font-size: 2.8vw;
        padding: 5px;
        margin-top: 3vh;
    }
    a.btn {
        width: max-content !important;
        font-size: 2vw !important;
        margin-bottom: 5vh;
    }
    .noNumber .map__gex-text {
        font-size: 2.3vw;
    }
    .popular-number .map__gex-text {
        font-size: 1.8vw;
    }
}

.map {
    &__gex {
        img {
            width: var(--widthGex);
            height: var(--heightGex);
        }
    }
}

#gex0 {
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: -1500;
    opacity: 0;
}
