@import "param-nul-base-preload/null-style";
@import "param-nul-base-preload/base";
@import "param-nul-base-preload/preloader";
//--------------------------------------
html,
body {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/ocean.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    font-family: $fontFamilyBase;
    padding: 10px;
    &:after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $blackColor;
        opacity: 0.4;
    }
}

.map {
    position: relative;
    z-index: 10;
    width: max-content;
    height: max-content;
    padding: 2vw;
}

.btn-group {
    position: relative;
    width: 97%;
    margin: 0px 0px 10px;
    display: grid;
    grid-template-areas: "back map num rules" "back rand-map rand-num rules";
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: repeat(2, max-content);
    justify-content: space-between;

    row-gap: 8px;
}

.btn {
    position: relative;
    top: 0;
    height: max-content;
    display: flex;
    min-width: 15vw;
    justify-content: center;
    align-items: center;
    font-size: 2.7vw;
    font-weight: 800;
    text-align: center;
    padding: 4px 3vw;
    border: 1px solid $blackColor;
    border-radius: 5px;
    background-color: $whiteColor;
    color: $blackColor;
    cursor: pointer;
    //
    box-shadow: 0 5px 0px rgb(172, 172, 172), 0 0 15px 2px black;
    transition: all 0.3s;
    &:active {
        top: 3px;
        box-shadow: 0 0px 0px rgb(172, 172, 172);
        transition: all 0.3s;
    }
}

.btn:active {
    background-color: $whiteColor;
}

#generateMapGex {
    grid-area: map;
}
#generateNumberGex {
    grid-area: num;
}
#fullRandomMapGex {
    grid-area: rand-map;
}
#fullRandomNumGex {
    grid-area: rand-num;
}
.btn-back {
    grid-area: back;
}
.btn-rules {
    grid-area: rules;
}

.btn-back,
.btn-rules {
    background: -webkit-linear-gradient(0deg, rgb(227, 227, 227) 16%, rgb(179, 182, 182) 50%, rgb(229, 229, 229));
    background: -moz-linear-gradient(0deg, rgb(227, 227, 227) 16%, rgb(179, 182, 182) 50%, rgb(229, 229, 229));
    background: linear-gradient(0deg, rgb(227, 227, 227) 16%, rgb(179, 182, 182) 50%, rgb(229, 229, 229));
}

.btn-gen,
.btn-full-gen {
    @include textBorderSmallBlack;
    color: white;
    margin-bottom: 7px;
    padding: 4px 5vw;
}

.btn-gen {
    background: -webkit-linear-gradient(0deg, rgb(15, 70, 144) 16%, rgb(0, 28, 73) 50%, rgb(122, 177, 221));
    background: -moz-linear-gradient(0deg, rgb(15, 70, 144) 16%, rgb(0, 28, 73) 50%, rgb(122, 177, 221));
    background: linear-gradient(0deg, rgb(15, 70, 144) 16%, rgb(0, 28, 73) 50%, rgb(122, 177, 221));
}
.btn-full-gen {
    background: -webkit-linear-gradient(0deg, rgb(3, 62, 94) 16%, rgb(26, 127, 193) 50%, rgb(1, 81, 133));
    background: -moz-linear-gradient(0deg, rgb(3, 62, 94) 16%, rgb(26, 127, 193) 50%, rgb(1, 81, 133));
    background: linear-gradient(0deg, rgb(3, 62, 94) 16%, rgb(26, 127, 193) 50%, rgb(1, 81, 133));
}

.romaining-number-tokens {
    width: 100%;
    height: 9vw;
    font-size: 3vw;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 4px;
    border: 1px solid $blackColor;
    background-color: rgba(172, 172, 172, 0.493);
    color: $blackColor;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.534) inset, 0 0 20px 10px rgba(0, 0, 0, 0.411);

    word-break: break-all;
}

.noNumber .map__gex-text {
    background-color: $errMessage;
    font-size: 3.5vw;
    font-weight: 900 !important;
}

.popular-number .map__gex-text {
    color: red;
    background-color: $smokeColor;
    font-weight: 900 !important;
    font-size: 3vw;
}

.block1 {
    background-image: url("../img/1.png");
}

.block2 {
    background-image: url("../img/2.png");
}

.block3 {
    background-image: url("../img/3.png");
}

.block4 {
    background-image: url("../img/4.png");
}

.block5 {
    background-image: url("../img/5.png");
}

.block7 {
    background-image: url("../img/7.png");
}
.map__gex-desert {
    background-image: url("../img/6.png");
}
.map__gex-x {
    background-image: url("../img/9.png");
}

@media (max-width: 500px) {
    .btn {
        box-shadow: 0 3px 0px rgb(63, 63, 63), 0 0 5px 2px rgba(0, 0, 0, 0.572) inset;

        &:active {
            top: 5px;
            transform: rotateX(40deg);
            box-shadow: 0 0px 0px rgb(172, 172, 172);
        }
    }
}

@media screen and (orientation: landscape) {
    body {
        background-image: url("../img/ocean2.jpg");
        flex-direction: row;
    }
    .btn-group {
        width: max-content;
        height: 100%;
        margin: 10px 0px 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 3vh;
    }
    .btn {
        width: max-content;
        min-width: 24vw;
        height: max-content;
        padding: 5px;
        font-size: 1.7vw;
    }
    .full-random-map-gex {
        width: 24vw;
        height: 14vh;
        font-size: 1.8vw;
        padding: 3px;
        margin-top: 3vh;
    }
    .romaining-number-tokens {
        width: 24vw;
        height: 14vh;
        font-size: 2.4vw;
        padding: 5px;
        margin-top: 3vh;
    }
    a.btn {
        width: max-content !important;
        font-size: 2vw !important;
        margin-bottom: 5vh;
    }
    .noNumber .map__gex-text {
        font-size: 2.3vw;
    }
    .popular-number .map__gex-text {
        font-size: 1.8vw;
    }
}

.map {
    &__gex {
        img {
            width: var(--widthGex);
            height: var(--heightGex);
        }
    }
}

#gex0 {
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: -1500;
    opacity: 0;
}
